*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-inline-size: 320px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-inline-size: 100%;
}

button,
a {
  color: currentColor;
  font: inherit;
}

button {
  padding: 0;
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

button:disabled {
  cursor: default;
  opacity: 1;
}

a {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--link-shadow-color);
}

a:hover {
  border-block-end: 1px solid currentColor;
}

a:focus {
  outline: none;
}

a:focus-visible,
button:focus-visible {
  outline: 2px solid currentColor;
  outline-offset: 2px;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}
