:root.theme-light {
  color-scheme: light;
  --page-background-color: #fff1f7;
  --background-image: url('../images/cover-image-light.png');
  --accent-color: #ff8dcb;
  --text-color: #353430;
  --title-color: #ffc2e6;
  --title-decor-text-color: #353430;
  --shadow-color: #ff8dcb;
  --section-title-color: #353430;
  --theme-control-color: #353430;
  --button-hover-border-color: rgb(50 49 45 / 0.4);
  --link-shadow-color: #ff8dcb;
  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root.theme-auto {
    color-scheme: light;
    --page-background-color: #fff1f7;
    --background-image: url('../images/cover-image-light.png');
    --accent-color: #ff8dcb;
    --text-color: #353430;
    --title-color: #ffc2e6;
    --title-decor-text-color: #353430;
    --shadow-color: #ff8dcb;
    --section-title-color: #353430;
    --theme-control-color: #353430;
    --button-hover-border-color: rgb(50 49 45 / 0.4);
    --link-shadow-color: #ff8dcb;
    --rec-display: none;
  }
}
